<div *ngIf="isLoading" class="loader">
  <div class="loader-circle"></div>
</div>

<a class="nav-link" routerLink="/">
  <mat-icon class="icon">arrow_back</mat-icon>
  <p>Home</p>
</a>

<div class="tw-flex tw-items-center tw-flex-row tw-m-24-px">
  <div class="trending-subjects-main">
    <div *ngIf="allBooks.length > 0">
      <front-end-internship-assignment-table-view
        [booksList]="allBooks"
        [subjectName]="subjectName"
      ></front-end-internship-assignment-table-view>
      <div class="pagination">
        <button
          class="pagination-btn"
          (click)="goToPage(1)"
          [disabled]="currentPage === 1"
        >
          First
        </button>
        <button
          class="pagination-btn"
          (click)="goToPage(currentPage - 1)"
          [disabled]="currentPage === 1"
        >
          Prev
        </button>

        <span class="pagination-info"
          >Page {{ currentPage }} of {{ totalPages }}</span
        >

        <button
          class="pagination-btn"
          (click)="goToPage(currentPage + 1)"
          [disabled]="currentPage === totalPages"
        >
          Next
        </button>
        <button
          class="pagination-btn"
          (click)="goToPage(totalPages)"
          [disabled]="currentPage === totalPages"
        >
          Last
        </button>
      </div>
    </div>
    <h3 *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </h3>
  </div>
</div>
